li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 10px;
}
a {
  text-decoration: none;
}
h5 {
  font-size: 18px;
}
.weather-app-wraper {
  margin: 30px auto;
  max-width: 600px;
}
.weather-app-container {
  text-align: left;
  padding: 20px;
  padding-top: 0;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  border: 1px solid;
  border-radius: 10px;
}
.description {
  padding: 0;
}
.enter-city {
  margin: 15px 10px;
  text-align: left;
}
.city,
.day-temp {
  font-weight: bold;
  font-size: 35px;
}

.day,
.current-weather {
  font-weight: bold;
  font-size: 25px;
}
.units {
  font-weight: normal;
  font-size: 20px;
  position: relative;
  top: -10px;
}
.btn-info {
  color: #fff;
}
.day-temp .active {
  color: #212529;
  cursor: default;
}

.day-temp .active:hover {
  text-decoration: underline;
}

.target {
  margin: 30px auto;
}
.card-day {
  border-radius: 10px;
  font-size: 15px;

  margin: 10px;
  text-align: center;
}
.card-body {
  margin: 0px;
  padding: 5px;
}
.icon-forcast {
  max-width: 50px;
  display: block;
  margin: 0 auto;
}

.icon-today {
  max-width: 500px;
}
